.footer-audio-player {
    display: flex;
    background-color: #2A2C34;
    padding: 0 var(--padding-block);
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-audio-player__info {
     min-width: 250px;
    flex: 1;
    height: 100%;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    color: #E4E8EC;
}
.footer-audio-player__progress-actions {
    flex: 1;
        padding: 0.5rem 0;
        max-width: 700px;
}
.footer-audio-player__volumn-action {
    min-width: 250px;
    flex: 1;
}

.footer-audio-player__info img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    box-sizing: border-box;
}
.footer-audio-player__info_data {
    display: flex;
    flex-direction: column;
    gap: 0.13rem;
}
.footer-audio-player__info_data strong {
    font-weight: 500;
    font-size: 0.9rem;
}
.footer-audio-player__info_data span {
    font-weight: 400;
    font-size: 0.8rem;
    color: #bbbec4;
}



/* Handle audio control */
.progress-actions__controls, 
.footer-audio-player__volumn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-audio-player__volumn-action svg,
.progress-actions__controls svg {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    cursor: pointer;
    color: #bbbec4;
}
svg.__controls--filled {
    fill: #bbbec4;
}
svg.__controls--filled:hover {
    fill: #E4E8EC
}

.progress-actions__controls svg:hover {
    color: #E4E8EC
}

.footer-audio-player__progress-actions-timer {
        width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 5px;
    color: #94969b;
    font-size: 13px;
}
.footer-audio-player__volumn-action {
    /* gap: 0.5rem; */
    padding-left: 1rem;
    justify-content: end;
}